/* Lume's design system */
@import "https://unpkg.com/@lumeland/ds@0.5.2/ds.css";

@import "./styles/button.css";
@import "./styles/readingProgress.css";

body {
  display: grid;
  grid-template-columns: minmax(0, 500px);
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  text-align: center;
  padding: max(20px, 5vh) 20px;
  row-gap: 20px;
  justify-content: center;
  align-content: center;
}

main {
  align-self: center;
}

.header {
  font: var(--font-body);
  margin-bottom: min(5vh, 100px);
  color: var(--color-text);

  p {
    margin: 0;
    text-wrap: balance;

    +p {
      margin-top: .5em;
    }
  }
}

.header-avatar {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
  width: 150px;
  max-width: 50vw;
}

.header-title {
  font: var(--font-title);
  letter-spacing: var(--font-title-spacing);
  margin: .5em 0 0;
  color: var(--color-base);
}

.header-theme {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

footer {
  font: var(--font-small);
  color: var(--color-dim);

  >* {
    margin: 0;
  }

  >*+* {
    margin-top: 1em;
  }

  a {
    color: inherit;
  }
}